@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-primary: #ff2d55;
  --color-secondary: #ffcc00;
  --color-alternativo: #9d5535;
  --color-grayDetail: #968b8a;
  --color-pinkDetail: #d28fa1;
  --color-background: #ffebf1;
  --color-texto: #ffffff;

  --animate-float: float 5s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-30px) rotate(5deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  --animate-fade-in-scale: fade-in-scale 3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
